/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
}

/* Navbar */
nav {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav button {
  background: none;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}

nav button.active {
  color: #0056d6;
}

/* Conteúdo */
main {
  padding: 2rem;
}

/* Footer */
footer {
  background: #111;
  color: #bbb;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

